<div class="container">
  <div class="row">
    <h3 class="col-6 offset-3 mt-5 mb-4 mini-title">クイズカテゴリ選択画面</h3>
  </div>
  <div class="row">
    <div class="py-3 mt-3 text-center mini-title">
      <h1>挑戦するクイズのカテゴリを選ぼう！</h1>
      <% @categories.each do |category| %>
        <p><%= link_to category.name, category_answer_managers_path(category), method: :post, class: "col-10 btn btn-primary btn-lg" %></p>
      <% end %>
      <%= paginate @categories %>
    </div>
  </div>
</div>