<div class="container">
  <div class="row">
    <div class="col-5 mt-5 py-5 mini-title">
      <div class="mt-5 py-5 ">
        <%= image_tag @quiz.get_quiz_gif(500,500) %>
      </div>
      <table class="table mt-5">
        <tr>
          <th>ショートカット名</th>
          <td><%= @quiz.name %></td>
        </tr>
      </table>
    </div>
    <div class="col-6 offset-1 mt-3">
      <div class="choice" id="choice">
        <%= render 'public/answer_managers/choice', answer_manager: @answer_manager, quiz: @quiz, category: @category %>
      </div>
    </div>
  </div>
</div>
