<h1>ユーザー用ショートカット一覧画面</h1>
<%= link_to "ブックマークしたショートカットを見る", bookmarks_user_path(current_user.id) %>
<% if @search_shortcuts %>
  <%= render partial: 'public/shortcuts/shortcut', locals:{shortcuts: @search_shortcuts}  %>
<% else %>
  <%= render partial: 'public/shortcuts/shortcut', locals:{shortcuts: @shortcuts} %>
<% end %>