<h1>管理者TOP画面</h1>
<li>
  <%= link_to "会員管理",admin_users_path %>
</li>
<li>
  <%= link_to "ショートカット管理",admin_shortcuts_path %>
</li>
<li>
  <%= link_to "カテゴリ管理",admin_categories_path %>
</li>
<li>
  <%#= link_to "クイズ管理",admin_quizzes_path %>
</li>