<h1>管理者TOP画面</h1>
<li>
  <%= link_to admin_users_path do %>
    会員管理
  <% end %>
</li>
<li>
  <%= link_to admin_shortcuts_path do %>
    ショートカット管理
  <% end %>
</li>
<li>
  <!--<#%= link_to admin_root_path do %>作成後リンク先を修正-->
    カテゴリ管理
  <%# end %>
</li>
<li>
  <!--<#%= link_to admin_root_path do %>作成後リンク先を修正-->
    クイズ管理
  <%# end %>
</li>