<div class="container">
  <div class="row">
    <h3 class="col-6 offset-3 mt-5 mb-4 mini-title">管理者ショートカットカテゴリ選択画面</h3>
  </div>
</div>
<% @categories.each do |category| %>
  <p><%= link_to category.name, admin_shortcuts_path(category_id: category.id), class: "btn btn-success" %></p>
<% end %>