<% if shortcut.bookmarked_by?(current_user) %>
  <p>
    <%= link_to shortcut_bookmarks_path(shortcut), method: :delete, remote: true, class: "glyphicon glyphicon-heart" do %>
      ♥
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to shortcut_bookmarks_path(shortcut), method: :post, remote: true, class: "glyphicon glyphicon-heart-empty" do %>
      ♡
    <% end %>
  </p>
<% end %>