<div class = "container px-5 px-sm-0">
  <div class="row">
    <h3 class="col-3 mt-3 mb-4 mini-title">ブックマーク一覧</h3>
    <div class="col-10 offset-1 mt-1">
      <% if @bookmarks.present? %>
        <table class="table table-striped table-bordered bg-light">
          <thead>
            <tr class="text-center">
              <th>ショートカット名</th>
              <th>コマンド</th>
            </tr>
          </thead>
          <tbody>
            <% @bookmarks.each do |bookmark| %>
              <tr class="text-center">
                <td>
                  <%= link_to bookmark.shortcut.name, shortcut_path(bookmark.shortcut.id) %>
                </td>
                <td><%= bookmark.shortcut.key %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>ブックマークがまだ登録されていません。</p>
      <% end %>
    </div>
  </div>
</div>
