/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*main*/
main{
	height: 100%;
  background-image: url(pc.jpg);
  background-size: cover;
  background-position: center
}

.main-visual{
	height: 700px;
	background-color: rgba(255, 255, 255, 0.4);
}

/*footer*/
#footerwrap {
	padding-top: 40px;
	padding-bottom: 40px;
	background: #384452;
}

#footerwrap p {
	color: #bfc9d3;
}

#footerwrap h4 {
	color: white;
}

#footerwrap i:hover {
	color: #00b3fe
}

.hline-w {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 25px;
}