/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.mini-title {
	text-align: center;
  color: 	black;/*文字色*/
  background-color: white;
	border: solid 3px black;/*線色*/
	padding: 0.5em;/*文字周りの余白*/
	border-radius: 0.5em;/*角丸*/
}
/*main*/

.alert-success {
  position: relative;
  padding: 1rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
	position: relative;
  padding: 1rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

main{
	height: 700px;
  background-image: url(pc.jpg);
  background-size: cover;
  background-position: center
}

.main-visual{
	height: 700px;
	background-color: rgba(255, 255, 255, 0.4);
}

/*ページネーション自体のデザイン*/
.pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

/*footer*/
#footerwrap {
	padding-top: 40px;
	padding-bottom: 40px;
	background: #384452;
}

#footerwrap p {
	color: #bfc9d3;
}

#footerwrap h4 {
	color: white;
}

#footerwrap i:hover {
	color: #00b3fe
}

.hline-w {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 25px;
}