<h1>管理者ユーザー一覧画面</h1>
<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>ニックネーム</th>
      <th>メールアドレス</th>
      <th>会員ステータス</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tbody>
    <tr>
      <td>
        <i class="fas fa-search"></i>
        <%= user.id %>
      </td>
      <td>
        <i class="far fa-user"></i>
        <%= link_to admin_user_path(user), class: "btn-link" do %>
          <%= user.nickname %>
        <% end %>
      </td>
      <td>
        <i class="fas fa-envelope"></i>
        <%= user.email %>
      </td>
      <td>
        <% if user.is_deleted == true %>
          <p>
            <span class="text-danger">退会済</span>
          </p>
        <% else %>
          <p>
            <span class="text-success">有効</span>
          </p>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>

