<h1>管理者ユーザー情報詳細画面</h1>
<div>
  <p><%= image_tag @user.get_profile_image(100,100) %></p>
  ユーザー画像
</div>
<div>
  ニックネーム<p><%= @user.nickname %></p>
</div>
<div>
  メールアドレス<p><%= @user.email %></p>
</div>
<%= link_to "プロフィールを編集する", edit_admin_user_path(@user) %>