<div class="container">
  <div class="row">
    <div class="py-5 mt-5 mini-title">
      <h1 class="fs-1 mb-5 text-center fw-bold">本当に退会しますか？</h1>
      <p  class="mb-5 text-center fw-bold">
        退会すると会員情報やブックマークがなくなります</br>
        退会する場合は「退会する」をクリックしてください。
      </p>
      <div class="text-center">
        <%= link_to "退会しない", user_path(current_user),class: "btn btn-primary" %>
          <%= link_to "退会する", withdraw_users_path, method: :patch, data: {confirm: "本当によろしいですか？"},class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
