<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>About</h4>
        <div class="hline-w"></div>
          <p>説明文書く</p>
      </div>
      <div class="col-lg-4">
        <h4>Social Links</h4>
          <div class="hline-w"></div>
          <p>
            <a href="https://github.com/souhei1118"><%= image_tag('GitHub-Mark-32px.png', size: "32x32") %></a>
            <a href="https://twitter.com/so__hei__"><%= image_tag('icon_twitter.png', size: "32x32") %></a>
            <a href="https://qiita.com/so__hei__"><%= image_tag('favicon.png', size: "32x32") %></a>
          </p>
      </div>
      <div class="col-lg-4">
        <p>
          &copy; Copyrights <strong>Souhei</strong>.
        </p>
      </div>
    </div>
  </div>
</div>