<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>About</h4>
        <div class="hline-w"></div>
          <p>
            ショートカットキーを覚えることで、</br>
            仕事の効率が格段に上がり、</br>
            時間を有効に使うことができます。</br>
            意外と知らない便利なキーが見つかるかも？
          </p>
      </div>
      <div class="col-lg-4">
        <h4>Social Links</h4>
          <div class="hline-w"></div>
          <p>
            <a href="https://github.com/souhei1118"><%= image_tag('GitHub-Mark-32px.png', size: "32x32") %></a>
            <a href="https://twitter.com/so__hei__"><%= image_tag('icon_twitter.png', size: "32x32") %></a>
            <a href="https://qiita.com/so__hei__"><%= image_tag('favicon.png', size: "32x32") %></a>
          </p>
      </div>
      <div class="col-lg-4 mt-5">
        <div class="text-center">
          <p>
            &copy; Copyrights <strong>Souhei</strong>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>